auto-install-peers=true
enable-pre-post-scripts=true # Enable pre/post scripts (for postui:add)
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=XNzvsbZNXh6fCy9H2LY66oc4sb7ZThh8Bb6Itjxxb/syX6AuSzUnwkncEw4+w0J5
