.ProseMirror {
  /* Image Block */
  figure[data-type="imageBlock"] {
    @apply m-0;

    img {
      @apply block w-full rounded;
    }
  }

  /* Block Quote */
  figure[data-type="blockquoteFigure"] {
    @apply my-14 text-black dark:text-white;
  }

  & > blockquote,
  [data-type="blockquoteFigure"] {
    blockquote {
      @apply m-0;

      & > * {
        @apply first:mt-0 last:mb-0;
      }
    }
  }

  /* Columns */
  [data-type="columns"] {
    @apply mt-14 mb-12 grid gap-4;

    &.layout-sidebar-left {
      grid-template-columns: 40fr 60fr;
    }

    &.layout-sidebar-right {
      grid-template-columns: 60fr 40fr;
    }

    &.layout-two-column {
      grid-template-columns: 1fr 1fr;
    }
  }

  [data-type="column"] {
    @apply overflow-auto;
  }

  /* Details */
  [data-type="details"] {
    @apply mx-auto my-6 flex gap-1 rounded border border-gray-300 p-2;

    summary {
      @apply block font-bold;
    }

    > button {
      @apply flex h-5 w-5 cursor-pointer items-center justify-center rounded border-none bg-transparent text-xs;

      &:hover {
        @apply bg-gray-300 dark:bg-gray-800;
      }

      &::before {
        content: "\25B6";
      }
    }

    &.is-open > button::before {
      @apply rotate-90;
    }

    > div {
      @apply flex w-full flex-col gap-4;

      > [data-type="detailsContent"] > :last-child {
        @apply mb-2;
      }
    }

    [data-type="details"] {
      @apply mx-0 my-2;
    }
  }
}
