# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# OS
~*/
.DS_Store

# Virtual environment
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Local development settings
.env
.env.local

# Logs
*.log