@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=${XNzvsbZNXh6fCy9H2LY66m7pBAyXyjHb7fvgbeGzZK9bclEKQLmxuy0Sc3SFApqC}

auto-install-peers=true
enable-pre-post-scripts=true