@import "tailwindcss";
@source "components";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  /* Default Colors */
  --background: hsl(195 65% 97%);
  --foreground: hsl(195 10% 3.9%);

  --card: hsl(195 0% 100%);
  --card-foreground: hsl(195 10% 3.9%);

  --popover: hsl(195 0% 100%);
  --popover-foreground: hsl(195 10% 3.9%);

  --primary: hsl(195 5.9% 10%);
  --primary-foreground: hsl(195 0% 98%);

  --secondary: hsl(195 4.8% 95.9%);
  --secondary-foreground: hsl(195 5.9% 10%);

  --muted: hsl(195 4.8% 95.9%);
  --muted-foreground: hsl(195 3.8% 46.1%);

  --accent: hsl(195 4.8% 95.9%);
  --accent-foreground: hsl(195 5.9% 10%);

  --destructive: hsl(4 71% 50%);
  --destructive-foreground: hsl(4 71% 92%);

  --border: hsl(195 39% 86%);
  --input: hsl(195 39% 86%);
  --ring: hsl(195 10% 3.9%);

  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);

  --sidebar-background: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  /* Custom colors */
  --lime: hsl(90 40% 30%);
  --pink: hsl(344 50% 40%);
  --purple: hsl(270 50% 40%);
  --blue: hsl(220 50% 40%);
  --sky: hsl(200 50% 40%);
  --green: hsl(160 50% 40%);
  --yellow: hsl(40 50% 40%);
  --orange: hsl(25 50% 40%);
  --red: hsl(0 50% 40%);
  --indigo: hsl(250 40% 30%);
  --cyan: hsl(180 40% 30%);
  --gray: hsl(0 0% 30%);

  --light-lime: hsl(90 45% 60%);
  --light-purple: hsl(240 45% 60%);
  --light-pink: hsl(330 45% 60%);
  --light-blue: hsl(220 45% 60%);
  --light-sky: hsl(200 45% 60%);
  --light-green: hsl(140 45% 60%);
  --light-yellow: hsl(40 45% 60%);
  --light-orange: hsl(25 45% 60%);
  --light-red: hsl(0 45% 60%);
  --light-indigo: hsl(250 45% 60%);
  --light-cyan: hsl(180 45% 60%);
  --light-gray: hsl(0 0% 60%);

  /* Brand Colors */
  --brand-light-blue: hsl(193 41% 48%);
  --brand-dark-blue: hsl(201 90% 12%);
  --brand-light-yellow: hsl(42 100% 45%);

  /* Colors for calendar events */
  --calendar-bg-blue: hsl(220 64% 95%);
  --calendar-bg-red: hsl(0 64% 95%);
  --calendar-bg-green: hsl(140 64% 95%);
  --calendar-bg-yellow: hsl(40 64% 95%);
  --calendar-bg-purple: hsl(270 64% 95%);
  --calendar-bg-pink: hsl(330 64% 95%);
  --calendar-bg-orange: hsl(25 64% 95%);
  --calendar-bg-indigo: hsl(250 64% 95%);
  --calendar-bg-cyan: hsl(180 64% 95%);
  --calendar-bg-gray: hsl(0 0% 95%);
}

.dark {
  --radius: 0.625rem;

  /* Default Colors */
  --background: hsl(240 23% 12%);
  --foreground: hsl(240 0% 98%);

  --card: hsl(240 23% 10%);
  --card-foreground: hsl(240 0% 98%);

  --popover: hsl(240 23% 10%);
  --popover-foreground: hsl(240 0% 98%);

  --primary: hsl(240 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);

  --secondary: hsl(240 15% 25%);
  --secondary-foreground: hsl(240 0% 98%);

  --muted: hsl(240 15% 25%);
  --muted-foreground: hsl(240 5% 64.9%);

  --accent: hsl(240 15% 25%);
  --accent-foreground: hsl(240 0% 98%);

  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 15% 25%);
  --input: hsl(240 15% 25%);
  --ring: hsl(240 4.9% 83.9%);

  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);

  --sidebar-background: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  /* Custom colors */
  --lime: hsl(90 50% 70%);
  --pink: hsl(344 50% 70%);
  --purple: hsl(270 50% 70%);
  --blue: hsl(220 50% 70%);
  --sky: hsl(200 70% 80%);
  --green: hsl(160 50% 70%);
  --yellow: hsl(40 50% 70%);
  --orange: hsl(25 50% 70%);
  --red: hsl(0 50% 70%);

  --light-lime: hsl(90 60% 75%);
  --light-purple: hsl(270 60% 75%);
  --light-pink: hsl(330 60% 75%);
  --light-blue: hsl(220 60% 75%);
  --light-sky: hsl(200 70% 80%);
  --light-green: hsl(160 60% 75%);
  --light-yellow: hsl(40 60% 75%);
  --light-orange: hsl(25 60% 75%);
  --light-red: hsl(0 60% 75%);
  --light-indigo: hsl(250 60% 75%);
  --light-cyan: hsl(180 60% 75%);
  --light-gray: hsl(0 0% 80%);

  /* Brand Colors */
  --brand-light-blue: hsl(193 41% 48%);
  --brand-dark-blue: hsl(201 90% 12%);
  --brand-light-yellow: hsl(42 100% 45%);

  /* Colors for calendar events */
  --calendar-bg-blue: hsl(220 14% 11%);
  --calendar-bg-red: hsl(0 14% 11%);
  --calendar-bg-green: hsl(140 14% 11%);
  --calendar-bg-yellow: hsl(40 14% 11%);
  --calendar-bg-purple: hsl(270 14% 11%);
  --calendar-bg-pink: hsl(330 14% 11%);
  --calendar-bg-orange: hsl(25 14% 11%);
  --calendar-bg-indigo: hsl(250 14% 11%);
  --calendar-bg-cyan: hsl(180 14% 11%);
  --calendar-bg-gray: hsl(0 0% 11%);
}

@theme inline {
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-dynamic-lime: var(--lime);
  --color-dynamic-purple: var(--purple);
  --color-dynamic-pink: var(--pink);
  --color-dynamic-blue: var(--blue);
  --color-dynamic-sky: var(--sky);
  --color-dynamic-green: var(--green);
  --color-dynamic-yellow: var(--yellow);
  --color-dynamic-orange: var(--orange);
  --color-dynamic-red: var(--red);
  --color-dynamic-indigo: var(--indigo);
  --color-dynamic-cyan: var(--cyan);
  --color-dynamic-gray: var(--gray);

  --color-dynamic-light-lime: var(--light-lime);
  --color-dynamic-light-purple: var(--light-purple);
  --color-dynamic-light-pink: var(--light-pink);
  --color-dynamic-light-blue: var(--light-blue);
  --color-dynamic-light-sky: var(--light-sky);
  --color-dynamic-light-green: var(--light-green);
  --color-dynamic-light-yellow: var(--light-yellow);
  --color-dynamic-light-orange: var(--light-orange);
  --color-dynamic-light-red: var(--light-red);
  --color-dynamic-light-indigo: var(--light-indigo);
  --color-dynamic-light-cyan: var(--light-cyan);
  --color-dynamic-light-gray: var(--light-gray);

  --color-brand-light-blue: var(--brand-light-blue);
  --color-brand-dark-blue: var(--brand-dark-blue);
  --color-brand-light-yellow: var(--brand-light-yellow);

  --color-calendar-bg-blue: var(--calendar-bg-blue);
  --color-calendar-bg-red: var(--calendar-bg-red);
  --color-calendar-bg-green: var(--calendar-bg-green);
  --color-calendar-bg-yellow: var(--calendar-bg-yellow);
  --color-calendar-bg-purple: var(--calendar-bg-purple);
  --color-calendar-bg-pink: var(--calendar-bg-pink);
  --color-calendar-bg-orange: var(--calendar-bg-orange);
  --color-calendar-bg-indigo: var(--calendar-bg-indigo);
  --color-calendar-bg-cyan: var(--calendar-bg-cyan);
  --color-calendar-bg-gray: var(--calendar-bg-gray);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
